{% extends 'profiles/base_b.html' %}
{% load static %}

{% block menu %}
    <nav id="navbar" class="navbar">
        <ul>
        <li><a class="nav-link scrollto" href='{% url 'home' %}'>Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto active" href="{% url 'profiles:index' %}">Profiles</a></li>
        <li><a class="nav-link scrollto" href="{% url 'lettings:index' %}">Lettings</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  {% endblock %}

  
{% block profiles %}
    <title>Profiles</title>
    <h1>Profiles_List</h1>
    {% if profiles_list %}
        <ul>
        {% for profile in profiles_list %}
            <li>
                <a href="{% url 'profiles:profile' username=profile.user.username %}">
                    {{ profile.user.username }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No profiles are available.</p>
    {% endif %}
    <div><a href="{% url 'profiles:index' %}">Profiles</a></div> 
    <div><a href="{% url 'home' %}">Home</a></div>
    <div><a href="{% url 'lettings:index' %}">Lettings</a></div> 
{% endblock %}