{% extends 'profiles/base_b.html' %}
{% load static %}

{% block menu %}
    <nav id="navbar" class="navbar">
        <ul>
        <li><a class="nav-link scrollto" href='{% url 'home' %}'>Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="{% url 'profiles:index' %}">Profiles</a></li>
        <li><a class="nav-link scrollto active" href="{% url 'lettings:index' %}">Lettings</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
{% endblock %}

{% block lettings %}
  <title>Lettings</title>
  <h1>Lettings_list</h1>
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-flat">Flat</li>
              <li data-filter=".filter-house">House</li>
              <li data-filter=".filter-villa">Villa</li>
            </ul>
          </div>
        </div>
      </div>
      {% if lettings_list %}
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
          {% for letting in lettings_list  %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-{{ letting.type }} ">
                <img src="{{ letting.URL }}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{ letting.title }}</h4>
                  <p>{{ letting.title }}</p>
                  <a href="{{ letting.URL }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title={{ letting.title }}></a>
                  <a href="{% url 'lettings:letting' letting_id=letting.id %}">{{ letting.title }}></a>
                </div>
              </div>
          {% endfor %}
          {% else %}
            <p>No lettings are available.</p>
          {% endif %}
      </div> 
    </section>
{% endblock  %}